.cart-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
}

.product-box {
	align-self: center;
}

.product-name,
.product-price {
	padding-block: 1rem;
}

.product-box img {
	max-width: 25%;
}

.checkout-wrapper {
	display: flex;
	flex-direction: column;
}

.remove-cart-item-button {
	background-color: var(--color-title);
	margin-bottom: 1rem;
	align-self: center;
}

.total-text {
	padding-top: 1rem;
}

.checkout-btn {
	color: var(--color-primary);
	padding-block: 1rem;
}

.empty-cart-button {
	border-radius: 5px;
	margin-bottom: 1rem;
}
