.cart-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 1rem;
}

.product-box {
	align-self: center;
}

.product-box img {
	max-width: 25%;
}

.checkout-wrapper {
	display: flex;
	flex-direction: column;
}

.checkout-btn {
	color: var(--color-primary);
	padding-block: 1rem;
}

.empty-cart-button {
	background-color: var(--color-activity);
	margin-bottom: 1rem;
}
