.cart-count {
	padding: 0.25rem 0.5rem;
	background-color: var(--color-primary);
	border-radius: 50%;
	font-size: 0.8rem;
	color: var(--color-activity);
}

/* Product Details Section */
.product-details {
	display: flex;
	justify-content: center;
	gap: 2rem;
	padding: 4rem 2rem;
}

.product-image-container {
	flex: 1;
}

.product-image {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: var(--border-radius-top);
}

#product-title {
	display: block;
	align-self: center;
	color: var(--color-primary);
}

.product-info {
	flex: 1;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: ;
	gap: 1rem;
	padding: 2rem;
	background-color: var(--color-secondary);
	border-radius: var(--border-radius-top);
}

#product-info {
	display: flex;
}

.product-info h2 {
	font-family: 'Girassol', serif;
	color: var(--color-title);
}

.add-to-cart-button {
	align-self: center;
	margin-top: 0.5rem;
	padding: 0.7rem 1.5rem;
	transition: background-color 0.3s;
	background-color: var(--color-primary);
	cursor: pointer;
	border: none;
	border-radius: var(--border-radius-full);
	color: var(--color-secondary);
}

.add-to-cart-button:hover {
	background-color: var(--color-activity);
}
